body {
    --color1: rgb(240, 147, 147);
    --color2: rgb(95, 26, 213);
    --color3: rgb(163, 226, 240);
    --color4: rgb(206, 204, 246);
    --color5: rgb(246, 230, 185, .3);
    --color6: rgba(7, 6, 6, .8); 
    
    --shadow: 0px 10px 20px -12px rgb(166, 162, 234);


    background-color: var(--color3);

    /* font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Syne', sans-serif; */
}

section {
    background-color: var(--color5);
}

header {
    background-color: var(--color4);
}

footer{
    background-color: var(--color4);
}

button {
    height: 40px;
    width: 70px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-right-radius: 160%;
    border-top-left-radius: 60%;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-color: var(--color4);
    background-position: center;
    border-color: var(--color4);
    font-family: 'shrikhand', cursive;
    font-weight: 100;
    color: var(--color6);
}

.image {
    border-color: solid 20px --var(--color1);
    border-bottom-left-radius: 40%;
}